@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.container-section2 {
    width: 100%;
    color: rgb(72, 62, 53);
    max-width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.gap {
    width: 100%;
    height: 5px;
    background-color: rgb(72, 62, 53);
}

.title {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
}

.text {
    width: 50%;
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 20px;
}

.zdjęcie1, .zdjęcie2 {
    width: 40%;
    height: auto;
    max-width: 100%;
    margin-right: 20px;
}

.zdjęcie2 {
    display: none; /* Ukrycie drugiego obrazka na dużych ekranach */
}

@media (max-width: 768px) {
    .container-section2 {
        flex-direction: column;  /* Zmiana układu na pionowy */
        align-items: left;  
        padding: 0;
    }

    .title {
        width: 100%;
        text-align: left;
        font-size: 1.8rem;
    }

    .text {
        width: 90%;
        margin: 10px auto; 
        text-align: left;
        font-size: 1rem;
    }

    .zdjęcie1 {
        display: none; /* Ukrycie pierwszego obrazka na urządzeniach mobilnych */
    }

    .zdjęcie2 {
        display: block; /* Pokazanie drugiego obrazka */
        width: 100%;  /* Obraz zajmuje całą szerokość */
        height: auto;
        margin: 0;
    }
}
